<h2>Audio / sounds</h2>

<center><img src="modules/moulinette-sounds/img/schema.svg" width="80%" /></center>

<p>
Moulinette works with two different types of sound "packs":
<ul>
<li><b>Remote (BBC):</b> Sounds that are hosted by external providers. These packs are available by default and anyone can quickly benefit from them without effort. They are generally free for personal usage. Check publisher's licensing for additional information.</li>
<li><b>Local:</b> You can bring your own sounds. These packs must be downloaded or provided by yourself. It could be composed of assets that you bought or that are freely available but may not be redistributed by Moulinette.</li>
</ul>
</p>

<h3>How to use remote packs/search?</h3>
<p>
Remote packs are automatically available from the drop-down list. Simply select a pack or execute a search.
<ol>
<li>When Moulinette execute the search, it will request the external provider server</li>
<li>The server returns the sounds matching your criteria</li>
<li>When you select a sound in the list, Moulinette generates a new sound with the asset URL. The sound remains on the server of the external provider.</li>
</ol>
</p>

<h3>How to install a pack locally?</h3>
<p>
In order to install your own pack, you need to drop your sounds (.mp3, .wav, .ogg) into your FoundryVTT installation.
<ul>
<li>Browse the server to `moulinette/sounds/custom`</li>
<li>Create a folder to represent the publisher</li>
<li>Inside the newly created folder, create a subfolder to represent your pack(s)</li>
<li>Drop your sounds into that folder or below</li>
<li>Click on `Index sounds` button to let Moulinette know about them</li>
</ul>

Example:
<pre>
moulinette/sounds/custom
  Tabletop Audio
    Music
      Alien Reactor.mp3
      Arabesque.mp3
      ...
  YouTube
    Ambience
      Tavern.mp3
      Forge.mp3
    Combat
      Swords.ogg
      Arrow.ogg
      ...
</pre>

</p>

<h3>You already have sound assets in a folder but don't want to move them into /moulinette folder?</h3>
<p>
Check <a href="https://github.com/SvenWerlen/moulinette-core/docs" target="_blank">Moulinette documentation</a> for advanced configuration.
</p>

